.animation1 {
//    @include bd;
    animation: movement1 1s cubic-bezier(0.18, 0.89, 0.32, 1.28) infinite alternate;
}

.animation2 {
//    @include bd; 
    animation: movement2 1s cubic-bezier(0.18, 0.89, 0.32, 1.28) infinite alternate;
}




@keyframes movement1 {
    
    from {
        transform: translate(-50%, 40%);
    }
    
    to {
        transform: translate(-50%, 60%);
    }
}

@keyframes movement2 {
    
    from {
         transform: translate(50%, -40%)
    }
    
    to {
         transform: translate(50%, -60%)
    }
}