.pricing__ {
    
    &overall-container {
        @extend %section-padding;
    }
    
    &header {
        @extend %header-mb;
        
        &-container {
//            @include bd(green);
//            flex: 1 0 100%;
            @extend %ta-center;
            @extend %margin-auto;
            @extend %header-width;
        }
        
    }
    
    &sub-header {
        font-weight: $weight400;
        font-size: 1rem;
    }
    
    &illustration {
        margin: 2rem 0;
//        @extend %margin-auto;
    }
    
    &flex- {
        
        &container {
    //        @include bd;
            @extend %container-width;
            @extend %margin-auto;
            @include flex;
            justify-content: center;
            align-items: stretch;
            background-color: $white-color;
            padding: 0 1rem;
            margin-top: 2rem;
//            padding: 2rem 0.5rem;

            > * {
                flex: 1 1 20%;
                min-width: 220px;
                margin: 0 1rem 0;
                border-left: 2px solid $bg-color;
                padding: 3.5rem 1.2rem;
    //            @include bd(red);
            }
            
            >:first-child {
                border: none;
            }
            
            hr {
                @include bd($bg-color);
                margin: 2rem 0;
            }
            
            &--aside {
                @extend %container-width;
                @extend %margin-auto;
                @include flex;
                justify-content: center;
                padding: 5rem 0 0;
                text-align: center;
            }
            
            &--aside > * {
                flex: 1 1 35%;
                max-width: 450px;
//                flex: 0 1 50%;
                min-width: 220px;
                padding: 0 2rem;
                text-align: center;
                
                @media (max-width: 568px) {
                    margin-top: none;
                    padding: 2.5rem 1rem;
                }
            }
            
            &--aside > :last-child {
                padding-bottom: 0px;
                border-left: 2px dotted black;
                
                @media (max-width: 568px) {
                    border: none;
                    border-top: 2px dotted black;
                }
            }

        }
        
        &flex4 {
            > ul p:last-of-type {
//                @include bd;
                font-size: 0.8rem;
                color: darkgrey;
            }

        }
        
        &flex2 {
//            @include bd;
        }
        
        &header {
//            margin
        }
        
        &sub-header {
            margin: 1rem 0;
            font-size: 1rem;
        }
        
        &btn {
            margin: 1rem 0 2.5rem ;
        }
        
        &price {
            font-weight: $weight700;
//            width: 100%;
//            margin: 1rem 0;
            font-size: 1rem;
            
            > span.price--strikethrough {
                text-decoration: line-through
            }
            
            > span.price--big {
//                color: red;
                font-size: 1.5rem;
                font-weight: $weight800;
            }
            
            > span.price--save {
                color: red;
            }
        }
        
        &features {
//            @include bd;
            margin: 3.5rem 0;
            list-style: disc inside;
            
            > * {
                font-size: 1rem;
                margin-bottom: 0.5rem;
            }
            
            > li {
                color: #0909b0;
                
                &.bold {
                    color: inherit;
                    font-weight: $weight700;
                }
            }
            
        }
        
        &link {
            font-size: 1rem;
            font-weight: $weight800;
            color: inherit;
            
            &::after {
                content: url(../images/arrow_2.svg);
                margin-left: 0.5rem;
            }
            
            &:hover {
                text-decoration: underline;
//                color: $cta-color;
            }
        }
    } 
    
    
}

